/* ======================================================================================== */
/* VARIABLES */
/* ======================================================================================== */

:root {
  /* Colours */
  --grey-1: #5e5e5e;
  --grey-2: #828282;
  --grey-3: #b0b0b0;
  --grey-4: #e0e0e0;
  --grey-5: #f3f3f3;
  --black: #231f20;
  --orange: #ff9874;
  --title-color: #939393;
  --body-color: #5e5e5e;
  --btn-color: #231f20;

  /* Fonts */
  --primary-font-family: Satoshi;
  --secondary-font-family: Libre Baskerville;

  /* Typography */
  --fs50-font-size: 50px;
  --fs42-font-size: 42px;
  --fs25-font-size: 25px;
  --fs20-font-size: 20px;
  --fs18-font-size: 18px;
  --fs13-font-size: 13px;

  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

/* ======================================================================================== */
/* Global Styles */
/* ======================================================================================== */

.content {
  font-family: "Satoshi", var(--default-font-family);
  font-size: var(--fs18-font-size);
  color: var(--body-color);
  padding: 2rem 4rem 4rem 4rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  position: relative;
}

p {
  line-height: 130%;
}

/* ======================================================================================== */
/* All page content Styles */
/* ======================================================================================== */

.title {
  font-family: "Satoshi", var(--default-font-family);
  font-weight: 900;
  font-size: var(--fs50-font-size);
  line-height: 124%;
  color: var(--title-color);
}

.subtitle {
  font-family: "Satoshi", var(--default-font-family);
  font-weight: 900;
  font-size: var(--fs42-font-size);
  line-height: 124%;
  color: var(--title-color);
}

.title span {
  font-family: Libre Baskerville, var(--default-font-family);
  font-style: italic;
  font-weight: 400;
}

.subtitle span {
  font-family: Libre Baskerville, var(--default-font-family);
  font-style: italic;
  font-weight: 400;
}

.img-overlay {
  position: absolute;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(255, 172, 237, 0.3);
  opacity: 0;
  border-radius: 10px;
}

/* ======================================================================================== */
/* Projects Section Styles */
/* ======================================================================================== */

.projects-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.project-card {
  width: 30%;
  cursor: pointer;
}

.project-card > div {
  position: relative;
  height: 400px; /* Set your desired height */
  overflow: hidden;
}

.project-card img {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card .title {
  font-size: var(--fs25-font-size);
  font-weight: 500;
  line-height: 248%;
}

.project-card .subtitle {
  font-size: var(--fs18-font-size);
  font-weight: 400;
  line-height: 131%;
  font-style: italic;
}

.project-card hr {
  margin: 1rem 0;
}

.project-card .tag {
  font-size: var(--fs18-font-size);
  font-weight: 400;
  line-height: 135%;
  width: min-content;
  color: var(--grey-1);
  text-wrap-mode: nowrap;
}

.project-card .tag:hover {
  color: var(--orange);
}

.project-card:hover .img-overlay {
  opacity: 1;
}

/* ======================================================================================== */
    /* Home - Subscribe Section Styles */
    /* ======================================================================================== */

    .newsletter-container {
        margin-top: 5rem;
        margin-bottom: 3rem;
        display: grid;
        grid-template-columns: 1fr 1.3fr;
    }

    .newsletter-container input {
        /* width: 28rem;  */
        width: 60%;
        display: inline;
        /* inline */
        height: 2.75rem;
        /* h-11 */
        border: 1px solid var(--grey-3);
        /* border with custom color */
        padding: 1rem 1rem;
        /* margin-right: 2.75rem; */
        margin-top: 4rem;
        border-radius: 10px;
    }

    ::placeholder {
        color: var(--grey-2);
        /* font-size: var(--fs18-font-size); */
        font-weight: 400;
    }

    .subscribe {
        color: var(--black);
        font-size: var(--fs25-font-size);
        font-weight: 500;
        padding: 1rem;
        position: relative;
        display: inline;
    }

    .subscribe::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        filter: opacity(0);
        transition: filter 0.3s ease-in-out;
        mix-blend-mode: multiply;
        background-image: url("../img/hover/subscribe-bg.svg");
    }

    .subscribe:hover::before {
        filter: opacity(1);
    }

    .newsletter-container .img-container {
        position: relative;
        cursor: pointer;
    }

    .newsletter-container img {
        border-radius: 20px;
    }

    .newsletter-container .img-container:hover .img-overlay {
        opacity: 0.7;
        border-radius: 20px;
    }