/* VARIABLES */
:root {
  /* Colours */
  --grey-1: #B0B0B0;
  --grey-2: #5E5E5E;
  --grey-3: #E0E0E0;
  --black: #231F20;

  /* Fonts */
  --primary-font-family: Satoshi;
  --secondary-font-family: Libre Baskerville;

  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

body {
  font-family: 'Satoshi', var(--default-font-family);
  font-size: 1.25rem;
  color: var(--grey-2);
}

p {
  line-height: 130%;

}

nav ul {
  color: var(--black);
  font-family: 'Satoshi', var(--default-font-family);
  font-size: 1.4rem;
  font-weight: 500;
}

nav ul li {
  padding: 1.25rem;
  cursor: pointer;
  position: relative;
}

nav ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: opacity(0);
  transition: filter 0.3s ease-in-out;
  mix-blend-mode: multiply;
  pointer-events: none;
}

nav ul li:hover::before {
  filter: opacity(1);
}

/* Different background images */
nav ul li:nth-child(1)::before {
  background-image: url('../img/hover/tools-bg.svg');
}

nav ul li:nth-child(2)::before {
  background-image: url('../img/hover/tools-bg.svg');
}

nav ul li:nth-child(3)::before {
  background-image: url('../img/hover/resources-bg.svg');
}

nav ul li:nth-child(4)::before {
  background-image: url('../img/hover/resources-bg.svg');
}


.title {
  font-family: 'Satoshi', var(--default-font-family);
  font-weight: 900;
  font-size: 2.75rem;
  line-height: 124%;
  color: #B0B0B0;
}

.title span {
  font-family: Libre Baskerville, var(--default-font-family);
  font-style: italic;
  font-weight: 400;
}

.hero-illustration img {
  position: absolute;
  top: 0;
}

::placeholder {
  color: #828282;
  font-size: 0.8rem;
  font-weight: 400;
}

.subscribe {
  color: var(--black);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1rem;
  position: relative;
}


.subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: opacity(0);
  transition: filter 0.3s ease-in-out;
  mix-blend-mode: multiply;
  background-image: url('../img/hover/subscribe-bg.svg');
}

.subscribe:hover::before {
  filter: opacity(1);
}

footer p {
  color: #B0B0B0;
  font-size: 0.875rem;
  width: 30rem;
  height: 2.2rem;
  margin-right: 3rem;
}

.contact-container {
  color: var(--grey-2);
  font-size: 0.8rem;
}

.job-title {
  color: var(--grey-2);
  font-size: 1.1rem;
  font-weight: 500;

}

.job-date {
  font-family: var(--secondary-font-family), var(--default-font-family);
  font-style: italic;
  color: var(--grey-2);
  font-size: 0.7rem;
  font-weight: 400;

}

.job-desc {
  font-family: var(--primary-font-family), var(--default-font-family);
  font-style: normal;
  color: var(--grey-1);
  font-size: 1.1rem;
  font-weight: 500;
}