---
layout: default-layout
title: Get Involved
permalink: /get-involved/
---
<section class="get-involved-container">
    <div class="contact-container">
        <div>
            <h2 class="title">We want to <span>hear from you</span></h2>
            <div class="contact-items">
                <img src="{{ site.baseurl }}/img/icons/phone.svg" alt="">
                <span>Phone : +91 80 40977237</span>
                <img src="{{ site.baseurl }}/img/icons/email.svg" alt="">
                <span>E-mail :
                    <a href="mailto:info@fieldsofview.in">info@fieldsofview.in</a>
                </span>
                <img src="{{ site.baseurl }}/img/icons/location.svg" alt="">
                <span>Address : Fields of View, #1915, 5th Cross, 18th A Main, JP Nagar II Phase, Bangalore, 560
                    078.</span>
            </div>
        </div>

        <div class="location-map">
            <iframe title="Location Map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4624.726744207098!2d77.58976157851845!3d12.913111175650188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae6c85144ac603%3A0x1f67b6b1cb1fbe68!2sFields+of+View!5e0!3m2!1sen!2sin!4v1454498243595"
                allowfullscreen></iframe>
        </div>

    </div>
    <!-- {% if site.categories['jd'] %}
        <section class="job-container">
            <p class="subtitle">
                We want to <span>work with you</span>
            </p>
            {% for post in site.categories['jd'] %}
            <div class="job-card">
                <div class="job-header">
                    <p class="job-title">{{post.title}}</p>
                    <p class="job-date">{{post.display-date}}</p>
                    <hr>
                    <a href="mailto:work@fieldsofview.in">Apply here</a>
                </div>
                <p class="job-desc">{{post.description}}</p>
            </div>
            {% endfor %}
        </section>
        {% endif %} -->



</section>

<section class="pif-container">

    <h2 class="subtitle">We want to <span>pay it forward</span></h2>

    <div class="pif-layout">

        <div class="pif-text">

            <p>Fields of View has sustained itself thanks to a rich community of mentors, advisors, and partners who
                have been generous with their time and patient with our questions. Over the years, they have offered us
                many new avenues to learn and helped make our idea of FoV a reality. Our journey has been that much
                easier and more enjoyable because of the support we received when we started out.</p>
            <p>Now, we want to pay it forward.</p>
            <p>We invite aspiring social entrepreneurs, innovators, and change-makers to join us at our collaborative
                space in JP Nagar, Bangalore. Whether you're just starting your organisation or looking at growth,
                whether you're a for-profit or nonprofit initiative, at Fields of View, you will always find a diverse
                group of professionals eager to engage with your ideas amid passionate discussion and lively banter.
            </p>
            <p>Our home in JP Nagar is also available for you to hold meetings, screen movies, convene a book club, or
                host small workshops. We have a high-ceiling room on the ground floor and a sunny terrace complete with
                an enclosed glass-walled room. Our library boasts an enviable collection of books and board games that
                are sure to keep you entertained and enthused. </p>
            <p>In the spirit of paying it forward, you do not have to pay us a fee; all we ask is that you respect the
                house rules.</p>
            <p><b>Accessibility Details</b>
                <br>We are based in an old house with multiple levels. The entrance to the ground floor has one step.
                This level houses our kitchen, primary meeting spaces, and largest discussion area, all barrier-free
                once inside. The ground floor also contains a small toilet; however, it is not wheelchair accessible.
            </p>
            <p>Upper floors are accessible via staircase. They including a mezzanine room, two first-floor rooms, and a
                glass-windowed terrace space. The first floor also contains a bathroom.</p>
            <p>Ready to get started? Reach out to us at <a href="mailto:pif@fieldsofview.in"
                    class="mailid">pif@fieldsofview.in</a>
            </p>
        </div>
        <div class="pif-images">
            <img src="/img/pif/DiscussionPresentationRoom.JPG" alt="Dicussion / Presentation Room">
            <img src="/img/pif/Pantry.JPG" alt="Pantry">
            <img src="/img/pif/TerraceEnclosure.JPG" alt="Terrace Enclosure">
            <img src="/img/pif/WorkArea1.JPG" alt="Work Area 1">
            <img src="/img/pif/WorkArea2.JPG" alt="Work Area 2">
        </div>
    </div>
</section>



<style>
    /* ======================================================================================== */
    /* Get Involved */
    /* ======================================================================================== */

    .get-involved-container {
        padding-right: var(--p5-rem);
        display: flex;
        flex-direction: column;
        gap: var(--p8-rem);
        margin-bottom: var(--p4-rem);
    }

    .contact-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: var(--p7-rem);
    }

    .contact-items {
        margin-top: var(--p3-rem);
        margin-right: var(--p8-rem);
        display: grid;
        grid-template-columns: 1.5rem auto;
        gap: 0.5rem;
        color: var(--grey-1);
        /* color: var(--body-color); */
        /* font-size: 0.8rem; */
    }

    .contact-items img {
        display: inline;
    }

    main a {
        color: var(--orange);
        font-weight: 500;
    }

    .location-map {
        aspect-ratio: 16 / 9;
    }

    .location-map iframe {
        width: 100%;
        height: 100%;
        border: 0;
    }


    /* ======================================================================================== */
    /* Get Involved - Work with us Section Styles */
    /* ======================================================================================== */

    .job-container {
        margin-bottom: var(--p4-rem);
    }

    .job-card {
        padding: var(--p3-rem) 0;
        display: grid;
        grid-template-columns: 1fr 5fr;
        gap: var(--p2-rem);
    }

    .job-header * {
        padding-bottom: 0.5rem;
    }

    .job-header a {
        font-size: var(--fs18);
    }

    .job-header a:hover {
        color: var(--orange);
    }

    .job-title {
        color: var(--title-color);
        font-size: var(--fs25);
        font-weight: 500;
        font-style: normal;
    }

    .job-title img {
        display: inline;
    }

    .job-date {
        font-family: var(--primary-font-family), var(--default-font-family);
        color: var(--title-color);
        font-weight: 400;
    }

    .job-desc {
        font-family: var(--primary-font-family), var(--default-font-family);
        font-style: normal;
        color: var(--grey-2);
        font-weight: 400;
        max-width: 800px;
    }


    /* ======================================================================================== */
    /* Get Involved - Pay It Forward */
    /* ======================================================================================== */

    .pif-layout p {
        margin: var(--p2-rem) var(--p2-rem) var(--p2-rem) 0;
    }

    .pif-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .pif-images {
        columns: 2;
    }

    .pif-layout img {
        width: 100%;
        height: auto;
        margin-bottom: var(--p2-rem);
        max-height: 1000px;
        border-radius: 10px;
    }

    @media (max-width: 768px) {
        .contact-container {
            grid-template-columns: 1fr;
        }

        .location-map {
            padding-top: var(--p2-rem);
        }

        .get-involved-container {
            padding-right: 0;
        }

        .job-card {
            grid-template-columns: 1fr;
        }

        .pif-layout {
            grid-template-columns: 1fr;
        }

        .pif-images {
            columns: 1;
        }
    }
</style>