---
layout: default-layout
title: Tools
permalink: /tools/
---
<div class="section">
    <p>
        <a class="breadcrumb" href="{{ site.baseurl }}/tools/">
            Tools
        </a>
        >
    </p>
    <div class="tools-container">

        <a href="{{ site.baseurl }}/tools/e-qlt"  style="grid-area: 1 / 1 / 2 / 3;">
            <div class="tool-card">
                <img src="/img/tools/eqlt-img-1.png" alt="">
                <div class="text-overlay">
                    <div class="text-wrapper">
                        <p>E-QLT</p>
                    </div>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="tool-card">
                <img src="/img/tools/city-game-img-1.jpg" alt="">
                <div class="text-overlay">
                    <div class="text-wrapper">
                        <p>VULNERABILITY GAME</p>
                    </div>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="tool-card">
                <img src="/img/tools/gazette-gonzo-img-1.jpg" alt="">
                <div class="text-overlay">
                    <div class="text-wrapper">
                        <p>GUDLUCK</p>
                    </div>
                </div>
            </div>
        </a>

    </div>

    <!-- {% if site.categories['tool'] %}
    <div class="tools-list">
        {% for post in site.categories['tool'] %}
        <div class="tool-item">
            <h2>{{ post.title }}</h2>
            <p>{{ post.excerpt }}</p>
            <img src="{{ post.thumbnail }}" alt="E-QLT Thumbnail">
            <a href="{{ post.url }}">Read more</a>
        </div>
        {% endfor %}
    </div>
    {% endif %} -->

</div>