<!-- Footer -->
<div class="hr-wrapper">
    <hr class="custom-hr" />
</div>
<footer>
    <p class=" trademark">
        "Fields of View" and "FoV" are trademarks of Fields of View Society © 2022. Fields of View. All Rights
        Reserved.
    </p>
    <p class="address">
        #1915, 5th Cross, 18th 'A' Main, JP Nagar 2nd Phase,<br /> Bangalore - 560 078
    </p>
    <ul class="icons">
        <a>
            <img src="{{ site.baseurl }}/img/icons/github.svg" alt="github">
        </a>
        <a> <img src="{{ site.baseurl }}/img/icons/linkedin.svg" alt="linkedin"> </a>
        <a> <img src="{{ site.baseurl }}/img/icons/youtube.svg" alt="youtube"> </a>
        <a> <img src="{{ site.baseurl }}/img/icons/instagram.svg" alt="instagram">
        </a>
    </ul>
</footer>
<style>
    /* ======================================================================================== */
    /* Footer Styles */
    /* ======================================================================================== */

    .hr-wrapper {
        margin-top: 2.5rem;
    }

    .custom-hr {
        position: absolute;
        left: 0;
        width: 100vw;
        border-color: var(--grey-4);
        border-style: solid;
        border-width: 1px 0 0 0;
    }

    footer {
        height: 8rem;
        background-color: white;
        display: flex;
        padding-top: 3rem;
    }

    footer p {
        color: var(--grey-3);
        font-size: var(--fs13-font-size);
        width: 30rem;
        height: 2.2rem;
        margin-right: 3rem;
    }

    footer .icons {
        position: absolute;
        right: 4rem;
        display: flex;
        gap: 1.1rem;
    }
</style>