<!-- Footer -->

<footer class="h-24 border-t border-[var(--grey-1)] bg-white px-16 py-3 flex mt-20">
    <p class=" trademark">
        "Fields of View" and "FoV" are trademarks of Fields of View Society © 2022. Fields of View. All Rights
        Reserved.
    </p>
    <p class="address">
        #1915, 5th Cross, 18th 'A' Main, JP Nagar 2nd Phase,<br /> Bangalore - 560 078
    </p>
    <ul class="icons absolute right-16 flex gap-4">
        <a>
            <img src="{{ site.baseurl }}/img/icons/github.svg" alt="github">
        </a>
        <a> <img src="{{ site.baseurl }}/img/icons/linkedin.svg" alt="linkedin"> </a>
        <a> <img src="{{ site.baseurl }}/img/icons/youtube.svg" alt="youtube"> </a>
        <a> <img src="{{ site.baseurl }}/img/icons/instagram.svg" alt="instagram">
        </a>
    </ul>
</footer>