<!-- Navigation -->

<nav class="sticky top-0 flex justify-between items-center z-10 bg-white">
    <div class="nav-brand">
        <a href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/img/Logo.svg" style="height: 130px; cursor: pointer; margin-left:1rem">
        </a>
    </div>
    <ul class="flex mr-8">
        <li><a href="{{ site.baseurl }}/about/">about</a></li>
        <li><a href="{{ site.baseurl }}/tools/">tools</a></li>
        <li><a href="{{ site.baseurl }}/resources/">resources</a></li>
        <li><a href="{{ site.baseurl }}/get-involved/">get involved</a></li>
    </ul>
</nav>