<!-- Navigation -->

<nav>
    <div class="nav-brand">
        <a href="{{ site.baseurl }}/">
            <div style="width: 220px;">
             {% include logo.html %}
             </div>
        </a>
    </div>
    <ul>
        <li><a href="{{ site.baseurl }}/about/">about</a></li>
        <li><a href="{{ site.baseurl }}/tools/">tools</a></li>
        <li class="group"><a href="{{ site.baseurl }}/resources/">resources</a>
            <div
                class="dropdown">
                <a href="{{ site.baseurl }}/resources/">publication</a>
                <a href="{{ site.baseurl }}/resources/">newsletter</a>
                <a href="{{ site.baseurl }}/resources/">financials</a>
                <a href="{{ site.baseurl }}/resources/">tools archive</a>
            </div>
        </li>
        <li><a href="{{ site.baseurl }}/get-involved/">get involved</a></li>
    </ul>
</nav>