---
layout: default-layout
bg-url: {{page.bg-url}}
---
<section class="content">
  <div class="container-fluid clearfix">
    <div class="row">
      <div class="col-md-offset-2 col-md-2">
        <h2 class="about" id="current_about" style="margin-right: 15px;">{{page.title}}</h2>
        <ul>
          {% for section in page.sections %}
            <li class="about_nav" id="{{ section.ide }}">
              {{ section.title }}
            </li>
          {% endfor %}
          <li class="about_nav" id="{{ section.ide }}">
            <a href="http://bit.ly/politydevleaders" target="_blank">FORM</a>
          </li>
        </ul>
      </div>

      <!-- TODO OVERVIEW -->
      <div class="col-md-6 section-desc" id="home-content">
        <h3>Polity is Asia’s first experiential policy course!</h3>
        <p class="simple-content">
          Polity uses easy to play games, simulations, models and activities to get participants to experience the perspective of all stakeholders involved, experience and practice inclusive and bottom up visioning, strategizing and planning for the development of their communities.
        </p>

        <h4>Why Games for Policy?</h4>
        <p class="simple-content">
          <ul>
            <li>Games are an inclusive medium for education (as a pedagogical tool) and enhance collaboration because anyone can participate in them, irrespective of educational background, exposure and experience.</li>
            <li>Games are an extremely effective medium of learning because participants are more willing to take risks, be creative, and experiment, as they don’t have the risks of failure.</li>
            <li>Games allow for collecting intangible data in the form of preferences and biases that is crucial for policies.</li>
            <li>Games create an inexpensive and highly engaging medium to test various policies and their outcomes with different affected and influencing groups.</li>
          </ul>
        </p>

        <h4>Objectives of the course</h4>
        <p class="simple-content">
          <ul>
            <li>Understanding Wicked Problems</li>
            <li>Problem Root Cause Analysis</li>
            <li>Systemic solutioning for Wicked Problems</li>
            <li>Visioning</li>
            <li>Bottom-up participatory planning and practices</li>
            <li>Bottom-up participatory data collection</li>
            <li>Alternative method for data collection and analysis</li>
            <li>Complex data model analysis</li>
            <li>Root-cause analysis</li>
            <li>Decision tree mapping</li>
            <li>Understanding the use and intricacies of Hybrid Value Chains through a simulation based approach</li>
            <li>Understanding interconnectedness and intersectionality of sectors while measuring impact</li>
          </ul>
        </p>

        <p class="simple-content">
          These objectives will be tailored based on the target audience and the course requirements in discussions with the facilitators and convenors/organisers.
        </p>
      </div>


      <!-- ONGOING COURSES -->
      <!-- TODO Get content from .md -->
      <div class="col-md-6 section-desc" id="ongoing-content" style="display: none;">
        <div class="row">
          <div class="col-md-12" style="padding:0 0 0 0; margin-top:-10px">
            <img src="{{ page.banner-img }}" style="height: 100%; width: 100%;">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" style="padding:0 0 0 0; margin-top:-10px">
            <div style="text-align: center; background-color: #f6f7f8; padding: 10px; border-radius: 25px;">
              <h5><b>3 months | 12 weeks | 30 hours</b></h5>
              <h4>Every Saturday 10 am - 12:30 pm<br/><br/>
              November 2022 - January 2023</h4>
              <h3>Online Virtual Course</h3>
            </div>
            <div style="text-align: center; padding: 10px; margin-top: 20px;">
              <h4>Course Fee: Rs. 50,000</h4>
              <h5>
                (If you require a scholarship to attend this course, please email <a href="mailto:trina@fieldsofview.in">trina@fieldsofview.in</a> with your <b>scholarship</b> requirement.)
              </h3>
            </div>
            <div style="background-color: #f6f7f8; padding: 10px; border-radius: 25px; margin-top: 20px;">
              <p class="simple-content" style="padding-left: 10px;">
                The course fee includes:
                <ul>
                  <li><b>Experience</b> of playing the <b>games</b></li>
                  <li><b>Learning to use</b> the experiential tools for yourself to do inclusive bottom-up design of programs and interventions</li>
                  <li><b>Learning to facilitate</b> the use of these experiential tools for your team and community.</li>
                  <li>Get an <b>open license</b> to use our tools in future for yourself or for your community.</li>
                  <li>Get <b>access to all assets</b> in the tools to use for yourself or your community in future.</li>
                </ul>
              </p>
            </div>
            <div style="text-align: center; background-color: #f6f7f8; padding: 10px; border-radius: 25px; margin-top: 20px;">
              Visit To Apply:<br/>
              <b><a href="http://bit.ly/politydevleaders" target="_blank">bit.ly/politydevleaders</a></b><br/>
              Apply by<br>
              <b>2 October 2022</b>
            </div>
          </div>
          <div class="col-md-6" style="margin-top: -10px; padding-top: 0px">
            <img src="{{ page.img1 }}" style="padding-bottom:40px; float:right; height:100%; width:100%;">
            {% if page.img2 != null %}
            <img src="{{ page.img2 }}" style="padding-bottom:40px; float:right; height:100%; width:100%;">
            {% endif %}
            {% if page.img3 != null %}
            <img src="{{ page.img3 }}" style="padding-bottom:40px; float:right; height:100%; width:100%;">
            {% endif %}
          </div>
          <div class="col-md-12" style="padding:0 0 0 0; margin-top:-10px; text-align: center;">
            <h3>Apply today!</h3>
            <h4>
              Become a Champion of Inclusive Development (CID), where you uncover not crimes, but complexities!
            </h4>
            <h5>
              For any questions or clarifications contact<br/>
              Trina Talukdar, Lead, Polity, at <a href="mailto:trina@fieldsofview.in">trina@fieldsofview.in</a>
            </h5>
          </div>
        </div>
      </div>

      <!-- MODULES -->
      <div class="col-md-6 section-desc" id="modules-content" style="display: none;">
        <div class="row">

          <!-- Left Col -->
          <div class="col-md-6">
            {% for module in page.modules_lhs %}
              <div class="module-box">
                <div style="flex: 2">
                  <h2 class="module-title">{{ module.title }}</h2>
                  <p class="simple-content">
                    {{ module.description }}
                  </p>
                </div>
                <div style="flex: 1; align-self: center;">
                  <img src="{{ module.img }}" class="center-block" style="height: 100%; width: 100%;">
                </div>
              </div>
            {% endfor %}
          </div>

          <!-- Right Col -->
          <div class="col-md-6">
            {% for module in page.modules_rhs %}
              <div class="module-box">
                <div style="flex: 2">
                  <h2 class="module-title">{{ module.title }}</h2>
                  <p class="simple-content">
                    {{ module.description }}
                  </p>
                </div>
                <div style="flex: 1; align-self: center;">
                  <img src="{{ module.img }}" class="center-block" style="height: 100%; width: 100%;">
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- FOOTER -->
      <div class="col-md-2" style="margin-top:25px; border-bottom: 1.5px solid #939393;"></div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    // set HOME to bold
    $("#home").css("font-weight", "bold");

    {% for section in page.sections %}
      $("#{{section.ide}}").click(function() {
        $(".about_nav").css("font-weight", "normal");
        $("#{{section.ide}}").css("font-weight", "bold");

        $(".section-desc").hide();
        $("#{{section.ide}}-content").show();
      });
    {% endfor %}
  });
</script>

<style type="text/css">
  .module-box {
    display: flex;
    flex-direction: row;
  }
</style>