---
layout: default-layout
---
<section class="content" style="min-height:600px">
    <div class="container-fluid clearfix">
        <div class="row">
            <div class="col-md-offset-2 col-md-2">
                <a href="/publications/">
                    <h2 class="about" id="current_about_publications">Back</h2>
                </a>
            </div>
            <div class="col-md-5" style="padding-top:30px">
                <div class="col-md-12" style="padding-left: 0px">
                    <h3 class="team-name">{{ page.authors }}<br />{{ page.year }}</h3>
                    <p class="simple-content" style="margin-top:0px">
                        <span style="font-weight:bold">{{ page.title }}</span>
                        <br /><span style="font-style:italic">
                            {% if page.book != null %}
                            {{ page.book }}
                            {% endif %}
                            {% if page.journal != null %}
                            {{ page.journal }}
                            {% endif %}
                            {% if page.conference != null %}
                            {{ page.conference }}
                            {% endif %}</span>
                        <br />
                        {{ page.place }}
                    </p>
                </div>
                <div class="col-md-12" style="padding-left: 0px">
                    {% if page.abstract != null %}
                    <h3 class="team-name">Abstract</h3>
                    <p class="simple-content" style="margin-top:0px">{{ page.abstract }}</p>
                    {% endif %}
                </div>
                <div class="col-md-12" style="padding-left: 0px">
                    {% if page.desc != null%}
                    <h3 class="team-name">Description</h3>
                    <p class="simple-content" style="margin-top:0px">{{ page.desc }}</p>
                    {% endif %}
                </div>
                {% if page.bibtex != null %}
                <div class="col-md-12" style="padding-left: 0px">
                    <h3 class="team-name">Citation</h3>
                    <p class="simple-content-bibtex" style="margin-top:0px; float:left">
                        <textarea id="bibtex_input" style="display:none;"> {{ page.bibtex }} </textarea>
                        <div id="bibtex_display">
                            <div class="bibtex_template" style="display: none;">
                                <span class="if title">
                                    <span style="font-weight: bold;font-size:12pt;" class="title"></span>,
                                </span>
                                <div class="if author">
                                    <span class="author" style="font-size:12pt;"></span>
                                </div>
                                <div>
                                    <span class="if journal"><em><span class="journal" style="font-size:12pt;"></span></em>,</span>
                                    <span class="if publisher"><em><span class="publisher" style="font-size:12pt;"></span></em>,</span>
                                    <span class="if booktitle">In <em><span class="booktitle" style="font-size:12pt;"></span></em>,</span>
                                    <span class="if address"><span class="address" style="font-size:12pt;"></span>,</span>
                                    <span class="if month"><span class="month" style="font-size:12pt;"></span>,</span>
                                    <span class="if year"><span class="year" style="font-size:12pt;"></span>.</span>
                                    <span class="if note"><span class="note" style="font-size:12pt;"></span></span>
                                    <a class="bibtexVar" role="button" data-toggle="collapse" href="#bib+BIBTEXKEY+" aria-expanded="false" aria-controls="bib+BIBTEXKEY+" extra="BIBTEXKEY" bibtexjs-css-escape style="font-size:12pt;">
                                        [bib]
                                    </a>
                                </div>
                                <div class="bibtexVar collapse" id="bib+BIBTEXKEY+" extra="BIBTEXKEY">
                                    <div class="well">
                                        <pre><span class="bibtexraw noread" style="font-size:12pt;"></span></pre>
                                    </div>
                                </div>
                                <div style="display:none"><span class="bibtextype" style="font-size:12pt;"></span></div>
                            </div>
                        </div>
                    </p>
                </div>
                <div class="clear"></div>
                {% endif %}
                <!-- {% if page.bibtex != null%}
        <div class="col-md-6" style="padding-left: 0px; padding-bottom:30px">
          <h3 class="team-name">BibTex</h3>
          <p class="simple-content-bibtex" style="margin-top:0px; float:left">{{page.bibtex}}</p>
        </div>
        <div class="clear"></div>
        {% endif %} -->
                {% if page.collaborations != null %}
                        <h3 class="team-name">Collaborations and Funders</h3>
                        <p class="simple-content" style="margin-top:0px;">{{ page.collaborations }}</p>
                {% endif %}
                {% if page.link != null %}
                <div class="col-md-12" style="padding-left: 0px;">
                    <h3 class="team-name">Link</h3>
                    <a style="font-size: 14pt" href="{{ page.link }}">View Publication</a>
                </div>
                {% endif %}
                {% if page.reportlink != null %}
                <div class="col-md-12" style="padding-left: 0px;">
                    <h3 class="team-name">Links</h3>
                    <a style="font-size: 14pt" href="{{ page.reportlink }}">View Report</a>
                </div>
                {% endif %}
                {% if page.datalink != null %}
                <div class="col-md-12" style="padding-left: 0px;">
                    <!-- <h3 class="team-name">Link</h3> -->
                    <a style="font-size: 14pt" href="{{ page.datalink }}">View Data</a>
                </div>
                {% endif %}
                {% if page.visuallink != null %}
                <div class="col-md-12" style="padding-left: 0px;">
                    <!-- <h3 class="team-name">Link</h3> -->
                    <a style="font-size: 14pt" href="{{ page.visuallink }}">View Visual</a>
                </div>
                {% endif %}
                <div class="col-md-12" style="padding-left: 0px; padding-top:30px">
                    <h3 class="team-name">Related links</h3>
                    <ul>
                        {% for person in site.categories['team'] %}
                        {% if page.authorid contains person.ide %}
                        <li class="project-specifics">
                            <a href="{{ person.url }}">{{ person.title }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% for project in site.categories['project'] %}
                        {% if page.projectid contains project.ide %}
                        <li class="project-specifics">
                            <a href="{{ project.url }}">{{ project.title }}</a>
                        </li>
                        {%endif%}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{{ site.baseurl }}/js/bibtex_js.js" type="text/javascript"></script>