---
layout: default-layout
---

<nav aria-label="Tool tabs" class="tools-nav">
    {% for post in site.categories['tool'] %}
    <a class="{% if post.title == page.title %}active{% endif %}" href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
    {% endfor %}
</nav>
<section class="content">
    <div class="tool-container">
        <div class="tool-overview">
            <p class="title">{{ page.title }}</p>
            <p class="subtitle">{{ page.subtitle }}</p>
            {% if page.live-site %}
            <a class="live-site" href="{{ page.live-site }}" target="_blank">view the live site!</a>
            {% endif %}
            <p class="objective">{{ page.objective }}</p>
            <p>{{ page.description }}</p>
            {{ page.summary }}
            {% if page.impact %}
            <div class="impact">{{ page.impact }}</div>
            {% endif %}
            <p>For more information or to explore collaboration opportunities, please contact us at <a
                    href="mailto:info@fieldsofview.in">info@fieldsofview.in</a>.</p>
        </div>
        <div class="images">
            {% if page.video-link %}
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/{{ page.video-link}}" title="E-QLT Explainer Video"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
            <img style="grid-column: span 2;" src="{{ page.img1 }}" alt="">
            {% else %}
            <img style="grid-column: span 2; max-height: 30vh;" src="{{ page.img1 }}" alt="">
            {% if page.img3 %}
            <img src="{{ page.img2 }}" alt="">
            <img src="{{ page.img3 }}" alt="">
            {% else %}
            <img src="{{ page.img2 }}" style="grid-column: span 2;" alt="">
            {% endif %}
            {% endif %}
        </div>
    </div>
    {% if page.banner-img %}
    <div class="banner">
        <img src="{{ page.banner-img }}" alt="">
    </div>
    {% endif %}
    {% if page.gallery %}
    <hr style="margin: var(--p2-rem) 0;">
    <div class="gallery">
        {% for img in page.gallery %}
        <img src="{{ img }}" alt="">
        {% endfor %}
    </div>
    {% endif %}
</section>

<style>
    .tools-nav {
        position: sticky;
        z-index: 9;
        background: white;
        /* padding: var(--p1-rem) var(--p4-rem) var(--p2-rem) var(--p4-rem); */
        padding-bottom: var(--p1-rem);
        display: flex;
        align-items: center;
        gap: var(--p2-rem);
        transition: box-shadow 1s ease-in-out;
        /* width: 100vw; */
        width: calc(100vw - var(--p4-rem) - 10px);
        overflow-x: scroll;
        font-size: var(--fs20);
        font-weight: 600;
    }

    .tools-nav::after {
        content: "";
        position: absolute;
        left: 0;
        right: var(--p4-rem);
        bottom: 0;
        height: 1px;
        background: var(--grey-4);
        pointer-events: none;
    }

    .tools-nav a {
        padding-right: var(--p5-rem);
        color: var(--grey-1);
        text-wrap: nowrap;
    }

    .tools-nav a.active {
        color: var(--green);
    }

    .back-link {
        font-size: var(--fs16);
        color: var(--grey-2);
    }

    .tool-container {
        display: grid;
        /* grid-template-columns: 2fr 3fr; */
        grid-template-columns: 1fr 1fr;
        gap: var(--p8-rem);
        padding: var(--p4-rem) 0;
        height: min-content;
        align-items: start;
    }

    /* Left Column Content */



    .tool-overview {
        display: flex;
        flex-direction: column;
        gap: var(--p2-rem);
        max-width: 40vw;
        /* margin: auto; */
        height: min-content;
    }

    .tool-overview .subtitle {
        font-size: var(--fs20);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: var(--subtitle-color);
    }

    .tool-overview a {
        font-weight: 600;
        color: var(--black);
        position: relative;
        width: fit-content;
    }

    .live-site::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        filter: opacity(0);
        transition: filter 0.3s ease-in-out;
        mix-blend-mode: multiply;
        background-image: url("/../../img/hover/tools-bg.svg");
    }

    .live-site:hover::before {
        filter: opacity(1);
    }

    .tool-overview .objective {
        color: var(--body-color);
        font-style: italic;
        font-size: var(--fs18);
        /* padding: var(--p1-rem) 0; */
    }

    /* .tool-overview .objective~* {
        padding: 0.5rem 0;
    } */

    .tool-overview ul {
        list-style-type: disc;
        padding-left: 1.5rem;
    }

    .impact {
        display: flex;
        flex-direction: column;
        gap: var(--p2-rem);
    }


    /* Right column images */
    .images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: var(--p2-rem);
        /* height: 100%; */
    }

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 ratio */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        grid-column: span 2;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .images img {
        width: 100%;
        flex: 1 1 0;
        object-fit: cover;
        border-radius: 10px;
        min-height: 400px;
    }


    .banner {
        background-color: var(--grey-5);
        padding: var(--p2-rem);
        margin-bottom: var(--p4-rem);
        border-radius: 10px;
    }

    .gallery {
        column-count: 3;
        column-gap: var(--p2-rem);
        width: 100%;
    }

    .gallery img {
        width: 100%;
        display: block;
        margin-bottom: var(--p2-rem);
        border-radius: 10px;
        break-inside: avoid;
    }

    @media (max-width: 768px) {
        .tool-container {
            display: grid;
            grid-template-columns: 1fr;
            gap: var(--p4-rem);
        }

        .images img {
            min-height: 200px;
        }

        .gallery {
            column-count: 1;
        }

        .tools-nav::after {
            height: 0;
        }

        .tool-overview {
            max-width: 90vw;
        }
    }
</style>
<script>
    function setToolsNavTop() {
        const nav = document.querySelector('header');
        const toolsNav = document.querySelector('.tools-nav');
        if (nav && toolsNav) {
            // Get nav's height including margin-bottom
            nav.style.boxShadow = 'none';
            const navStyles = getComputedStyle(nav);
            const navHeight = nav.offsetHeight - parseFloat(navStyles.marginBottom) - 1;
            const navMarginBottom = parseFloat(navStyles.marginBottom) || 0;
            toolsNav.style.top = (navHeight + navMarginBottom) + 'px';
        }
    }

    // Set on load and on resize
    window.addEventListener('DOMContentLoaded', setToolsNavTop);
    window.addEventListener('resize', setToolsNavTop);
</script>